$ cat .gitignore
adjusted_feature_maps/
trained_sae_weights/
sae_weights/
__pycache__/
original_feature_maps/
playground.py
datasets/
fashionmnist.py
loading_datasets_attempts/
old_files/
model_weights/
model_weights*
evaluation_results/
evaluation_results*
wandb/
encoder_output/